.title {
  border:2px rgb(33, 41, 39);
  padding:10px;
  background-color:rgb(97, 160, 144);
  display:block;
  margin: auto;
  margin: top 10px;
  margin:bottom 10px;
  width:40%;
  font-size: 130%;
  text-align: center;
  box-sizing:border-box;
}

.aboutme {
  border:2px rgb(33, 41, 39);
  background-color: rgb(221, 173, 82);
  padding:10px;
  display: block;
  margin:auto;
  margin: top 10px;
  margin: bottom 10px;
  width: 70%;
  font-size: 90%;
  text-align: center;
  box-sizing: border-box;
}

.image {
  padding:10px;
  display:block;
  margin: auto;
  margin: top 10px;
  margin: bottom 10px;
  width:40%;
  box-sizing:border-box;
}