.title {
  border:2px rgb(33, 41, 39);
  padding:10px;
  background-color:rgb(97, 160, 144);
  display:block;
  margin: auto;
  margin: top 10px;
  margin:bottom 10px;
  width:70%;
  font-size: 140%;
  text-align: center;
  box-sizing:border-box;
}

h1 {
  color:rgb(17, 43, 33);
}


.aboutme {
  border:2px rgb(33, 41, 39);
  background-color: rgb(221, 173, 82);
  padding:10px;
  display: block;
  margin:auto;
  margin: top 10px;
  margin: bottom 10px;
  width: 70%;
  font-size: 110%;
  text-align: center;
  box-sizing: border-box;
  color:rgb(17, 43, 33)
}

.image {
  padding:10px;
  display:block;
  margin: auto;
  margin: top 10px;
  margin: bottom 10px;
  width:40%;
  box-sizing:border-box;
}
